/* ****PARA TODAS AS TELAS**** */
h1 {
    font-size: 25px;
    color: #0000008c;
    text-align: center;
}

.topo-especialidades{
    padding: 20px 20px 0 20x;
}

.links-nav-especialidades {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0 30px 0;
}

.links-nav-especialidades a {
    text-align: center;
    color: #0000008c;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #3bccbb;
    justify-content: center;
    margin: 10px;
}

.links-nav-especialidades a:hover {
    color: #00000059;
}

.especilidades-descricao {
    padding-bottom: 30px;
    width: 90%;
}

.especilidades-descricao h2 {
    font-size: 22px;
}

.div-img-e-tabela {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
    height: 280px;
    justify-content: center;

}

.div-tabela {
    height: 100%;
    align-items: center;
}

table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

table thead tr th {
    padding: 10px;
    color: #ffffff;
}

table tbody tr td {
    padding: 10px;
}

table thead tr:first-of-type {
    background-color: #3bccbb;
}

table tbody tr:nth-last-of-type(odd) {
    background-color: #00000033;
}


/* ****TELAS ATÉ 768PX**** */

@media (max-width: 768px) {

    h2 {
        font-size: 18px;
    }

    .links-nav-especialidades {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .links-nav-especialidades a {
        font-size: 16px;
        width: 80px;
    }


    .div-img-e-tabela {
        justify-content: center;
    }

    .div-tabela {
        width: 100%;
    }


    table {
        font-size: 14px;
    }

}

/* ****TELAS A PARTIR DE 769PX**** */

@media (min-width: 769px) {

    .topo-especialidades {
        padding: 40px 0 0 0;

    }

    .links-nav-especialidades  {
        padding-bottom: 60px;

    }

    .links-nav-especialidades a {
        font-size: 20px;
    }

    .img-medico {
        height: 100%;
        width: 30%;
    }

    .div-img-e-tabela {
        justify-content: space-between;
    }

    #ortopedia .img-medico {
        background-image: url("../assets/ortopedia.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #pediatria .img-medico {
        background-image: url("../assets/pediatra2.png");
    }

    #geriatria .img-medico {
        background-image: url("../assets/geriatra.png");
    }

    #psicologia .img-medico {
        background-image: url("../assets/psicologo.png");
    }

    #fisioterapia .img-medico {
        background-image: url("../assets/fisioterapia.png");

    }

    .div-tabela {
        flex-grow: 1;
        margin-left: 10px;
        height: 100%;
        align-items: center;
    }
    
    table {
        font-size: 16px;
    }
}